@using Library.Models;

<h2>Librarian Dashboard</h2>
<hr>
<!-- Nav Tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href='/librarians/dashboard'>Checkouts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/librarians/cardholder">Card Holders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/librarians/books">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" >Authors</a>
  </li>
</ul>
<br><br>

<!-- Confirmation Alert-->
@if (@Model != null)
{
  <div class='alert-success'>
    <p>Your action involving @Model.GivenName @Model.LastName was successful!</p>
  </div>
}

<!--Add Book-->
<div class="row">
  <div class="col-md-5">
    <h3>Add Author</h3>
    <form action='/librarians/authors/add' method='post'>
      <div class='form-group'>
        <label for='firstName'>First & Middle Name</label><br>
        <input name='firstName' type='text'>
      </div>
      <div class='form-group'>
        <label for='lastName'>Last Name</label><br>
        <input name='lastName' type='text'>
      </div>
      <button class='btn btn-success' type='submit'>Add</button>
    </form>
    <br><br>
  </div>

  <!--Edit Book-->
  <div class="col-md-7">
    <h3>Edit Author</h3>
    <form action='/librarians/authors/lookup' method='post'>
      <div class="form-group">
        <select name='authorId'>
          @if(Model != null)
          {
            <option selected value='@Model.Id'>@Model.Id | @Model.LastName@(",") @Model.GivenName</option>
          }
          else
          {
            <option></option>
          }
          @foreach(Author author in Author.GetAll())
          {
            <option value='@author.Id'>@author.Id | @author.LastName@(",") @author.GivenName</option>
          }
        </select>
        <button type='submit' class='btn btn-warning'>Look Up</button>
      </div>
    </form>
    @if(Model != null)
    {
      <form action='/librarians/authors/update/@Model.Id' method='post'>
        <div class='form-group'>
          <label for='firstName'>First & Middle Name</label><br>
          <input name='firstName' value='@Model.GivenName' type='text'>
        </div>
        <div class='form-group'>
          <label for='lastName'>Last Name</label><br>
          <input name='lastName' value='@Model.LastName' type='text'>
        </div>
        <button class='btn btn-success' type='submit'>Update</button>
        <!-- <a class='btn btn-danger ml-3' href='/librarians/authors/delete/@Model.Id'>Delete @Model.LastName</a> -->
      </form>
    }
  </div>
</div>
<br><br>



<!-- Nav buttons -->
<a class='btn btn-info' href='/'>Home</a>
<a class='btn btn-danger ml-3' href='/librarians'>Log Out</a>
