@using Library.Models;

<h2>Librarian Dashboard</h2>
<hr>
<!-- Nav Tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href='/librarians/dashboard'>Checkouts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/librarians/cardholder">Card Holders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">Edit Inventory</a>
  </li>
</ul>
<br><br>

<!-- Confirmation Alert-->
@if (@Model != null && @Model.GetType() == typeof(Checkout))
{
  @if (!@Model.Returned)
  {
    <div class='alert-success'>
      <p>New checkout successful! Checkout Id: @Model.Id. Item due back on @Model.DueDate</p>
    </div>
  }
  else
  {
    <div class='alert-success'>
      <p>Return successful! Checkout Id: @Model.Id. Book '@Book.Find(@Model.BookId).Title' was returned by @Patron.Find(@Model.PatronId).GivenName @Patron.Find(@Model.PatronId).LastName.</p>
    </div>
  }
}

<!-- Checkout Form -->
<div class="row">
  <div class="col-md-6">
    <h3>Checkout</h3>
    <form action='/librarians/checkout' method='post'>
      <div class='form-group'>
        <label for='patronId'>Select Patron</label><br>
        <select name='patronId'>
          @foreach (var patron in @Patron.GetAll())
          {
            <option value='@patron.Id'>@patron.Id | @patron.LastName@(", ") @patron.GivenName</option>
          }
        </select>
      </div>
      <div class='form-group'>
        <label for='bookId'>Select Book</label><br>
        <select name='bookId'>
          @foreach (var book in @Book.GetAll())
          {
            @if (book.CurrentCount > 0)
            {
              <option value='@book.Id'>@book.Id | @book.Title@(", ") @book.CurrentCount</option>
            }
          }
        </select>
      </div>
      <div class='form-group'>
        <label for='dueDate'>Select Due Date</label><br>
        <input type='number' name='dueDate' value='14'> days
      </div>
      <button type='submit' class='btn btn-warning'>Create Checkout</button>
      <br><br>
    </form>
  </div>

  <!-- Return Form -->
  <div class="col-md-6">
    <h3>Return</h3>
    <form action='/librarians/return/lookup' method='post'>
      <div class='form-group'>
        <label for='patronId'>Select Patron</label><br>
        <select name='patronId'>
            @if(Model != null && Model.GetType() == typeof(System.Collections.Generic.List<Checkout>))
            {
              <option selected value='@Model[0].PatronId'>@Model[0].PatronId | @Patron.Find(Model[0].PatronId).LastName@(",") @Patron.Find(Model[0].PatronId).GivenName</option>
            }
            @foreach (var patron in @Patron.GetAll())
            {
              @if (@patron.GetCurrentCheckouts().Count > 0)
              {
                <option value='@patron.Id'>@patron.Id | @patron.LastName@(", ") @patron.GivenName</option>
              }
            }
        </select>
        <button type='submit' class='btn btn-warning'>Look Up</button>
      </div>
    </form>
    @if(Model != null && Model.GetType() == typeof(System.Collections.Generic.List<Checkout>))
    {
      <form action='/librarians/return' method='post'>
        <div class='form-group'>
          <div class='form-group'>
            <label for='checkoutId'>Select Book</label><br>
            <select name='checkoutId'>
              <option value=""></option>
              @foreach (var checkout in @Model)
              {
                <option value='@checkout.Id'>@checkout.Id | @Book.Find(@checkout.BookId).Title @(", ") Due: @checkout.DueDate</option>
              }
            </select>
          </div>
          <button type='submit' class='btn btn-warning'>Return</button>
        </div>
      </form>
    }
    <!-- else
    { -->
    <!-- } -->
    <br><br>
  </div>
</div>

<!-- Nav buttons -->
<a class='btn btn-info' href='/'>Home</a>
<a class='btn btn-danger ml-3' href='/librarians'>Log Out</a>
